*~
#*
*.log
*.aux
*.out
*.nav
*.snm
*.vrb
*.toc
*.class
*.lck
*.bak
/implementacion/monitor/target/
/implementacion/monitor/nbproject/private/
/implementacion/monitor/build/
/implementacion/monitor/dist/
/implementacion/estacionamiento/build/
/implementacion/estacionamiento/dist/
/implementacion/estacionamiento/nbproject/private/